<div class="blue">
  <h1 class="text-center">Hey, I'm Evan..</h1>
  <h2 class="text-center">A future great sotware engineer</h2>
  <h2> A little about me and why I will be a great software engineer</h2>
  <hr>
    <ul>
      <li id="lego">I grew up playing Legos</li>
      <div class="row lego-info">
        <div class="col-md-1"></div>
        <div class="col-md-5">
          <img src="legos.JPG" alt="sorry no image">
        </div>

        <div class="col-md-5">
          <p>
            From a young age, building gadgets and contraptions with Legos was always my passion.
            Many Saturdays, from morning until night, with back aching and wrists hurting from
            sorting through the mountains of legos, I would construct my dreams. It cultivated in me creativity, imagination, and joy for creating.
            I am a creator.
          </p>
        </div>
        <div class="col-md-1"></div>
      </div>
      <hr>

      <li id="mech">Tearing apart and reassembling mechanical gadgets</li>
      <div class="row mech-info">
        <div class="col-md-1"></div>
        <div class="col-md-5">
          <p>
            So, I'm a curious person. I'm always wondering, always asking questions and seeking answers, saying, "what if.."
            then giving it a try. It's been said that "an expert is someone who has made all the mistakes one can make in a narrow field".
            I suppose to become an expert you must be curious where the boundaries are, and then push to them.
            When you're curious you try, you fall, and try again.
          </p>
        </div>
        <div class="col-md-5">
          <img  src="mechanics.JPG" alt="sorry no image">
        </div>
        <div class="col-md-1"></div>
      </div>
    </ul>

    <hr>

    <p id="a-little-more-about-me">
      I learn very fast and respect those around me. I love that there are so many people that know
      more than me, because that means that I have so much to learn, and I never want to stop learning.
      That is one of the most intriguing things about programming and software... the creations seem limitless.
    </p>
    <br>

    <p id="closing-statment">
      As an aspiring software engineer I know I will excel at whatever environment I put myself into.
      I am dedicated, hard working, and focused. I grew up on a farm and have worked for everything I have.
      Some things are harder than others, but learning by immersion is where the magic happens. <br><br> Sure it's scary, and
      you wonder if it will crush you, but things usually are worse in your imagination than in real life.
      Through my life, I have found that when presented with a problem/challenge, and you overcome it,
      it really never is as bad as you would have imagined it to be; and then you have that experience to
      reinforce your resolve for the next time a challenge comes.
      as Mark Twain once said,
      "I am an old man and have known a great many troubles, but most of them never happened." <hr>
    </p>

    <p>
      Yes this is just a small bit and there is so much more unfortunately i am out of time..
      This was fun though
    </p>

  <div class="row footer">
    <div class="col-md-3"></div>
    <div class="col-md-2 green">
      <div><%= link_to 'Front Page', root_url %></div>
    </div>
    <div class="col-md-2 orange"></div>
    <div class="col-md-2 grey">
    </div>
    <div class="col-md-3"></div>
  </div>
</div>
