<div class="container">
  <div class="row header">

  </div>


  <div class="row">

    <div id="header-bar">

      <div class="col-lg-2"></div>

      <div class="col-lg-8 text-center">
        <h1 >Herein lies information about... Evan</h1>
        <div class="text-center" id="enter-button">
          <div class="row">
            <div id="wheel1">-|-</div>
            <div id="wheel2">-|-</div>
          </div>
          <%= link_to 'MeetMe', about_path, class: "btn btn-lg btn-success" %>
        </div>
      </div>

      <div class="col-lg-2"></div>
    </div>
  </div>

  <div class="row footer"></div>
</div>
