// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.blue {
  margin: -20px 0px -30px 0px;
  background-color: #99CCFF;
  z-index: -1;
  width: 100vw;
  height: 100%;
}

.green {
  height: 150px;
  width: 200px;
  background-color: #CCFFCC;
  z-index: 0;
  position: relative;
  display: inline-block;
  border-radius: 30px 30px 0px 0px;
}

.green:hover {
  width: 300px;
}

.orange {
  background-color: #FFCC66;
  height: 150px;
  width: 200px;
  z-index: 1;
  display: inline-block;
  border-radius: 30px 30px 0px 0px;
}
.grey {
  background-color: #97AFAF;
  height: 150px;
  width: 200px;
  z-index: 1;
  display: inline-block;
  border-radius: 30px 30px 0px 0px;
}

div p {
  padding: 0px 20px;
}

img {
  width: 540px;
  height: 370px;
  border-radius: 3em;
}

li {
  margin-top: 30px;
  font-size: 23px;
}

h2 {
  text-align: center;
}

@keyframes slider {
  0% {
    padding-left: 0px;
    padding-right: 300px;
  }
  50% {
    padding-left: 300px;
    padding-right: 0px;
  }
  100% {
    padding-left: 0px;
    padding-right: 300px;
  }

}

#enter-button {
   animation: slider 8s infinite ease-in-out;
}

@keyframes roller {
  0% {
    transform:rotate(0deg);
  }
  50% {
    transform:rotate(-1656deg);
  }
  100% {
    transform:rotate(0deg);
  }

}

#wheel1 {
  text-align: center;
  vertical-align: middle;
  color: white;
  margin-left: 235px;
  margin-top: -12px;
  position: absolute;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background-color: black;
  animation: roller 8s infinite ease-in-out;
}
#wheel2 {
  text-align: center;
  vertical-align: middle;
  color: white;
  margin-top: -12px;
  margin-left: 195px;
  position: absolute;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background-color: black;
  animation: roller 8s infinite ease-in-out;
}

#header-bar {
    margin-top: 200px;
    -webkit-animation-name: spin;
    -webkit-animation-duration: 8000ms;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    -moz-animation-name: spin;
    -moz-animation-duration: 8000ms;
    -moz-animation-iteration-count: infinite;
    -moz-animation-timing-function: linear;
    -ms-animation-name: spin;
    -ms-animation-duration: 8000ms;
    -ms-animation-iteration-count: infinite;
    -ms-animation-timing-function: linear;

    animation-name: spin;
    animation-duration: 8000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;

    h3 {
    text-decoration: underline;
  }
}
@-ms-keyframes spin {
    from { -ms-transform: rotate(0deg); }
    to { -ms-transform: rotate(360deg); }
}
@-moz-keyframes spin {
    from { -moz-transform: rotate(0deg); }
    to { -moz-transform: rotate(360deg); }
}
@-webkit-keyframes spin {
    from { -webkit-transform: rotate(0deg); }
    to { -webkit-transform: rotate(360deg); }
}
@keyframes spin {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
}
