// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.blue {
  margin: -20px 0px -30px 0px;
  background-color: #99CCFF;
  z-index: -1;
  width: 100vw;
  height: 100%;
}

.green {
  text-align: center;
  height: 150px;
  width: 200px;
  background-color: #CCFFCC;
  z-index: 0;
  position: relative;
  display: inline-block;
  border-radius: 30px 30px 0px 0px;
  -o-transition:.5s;
  -ms-transition:.5s;
  -moz-transition:.5s;
  -webkit-transition:.5s;
  transition:.5s;
}

.green:hover {
  width: 250px;
}

.orange {
  background-color: #FFCC66;
  height: 150px;
  width: 200px;
  z-index: 1;
  display: inline-block;
  border-radius: 30px 30px 0px 0px;
  -o-transition:.5s;
  -ms-transition:.5s;
  -moz-transition:.5s;
  -webkit-transition:.5s;
  transition:.5s;
}

.orange:hover {
  width: 250px;
}

.grey {
  background-color: #97AFAF;
  height: 150px;
  width: 200px;
  z-index: 1;
  display: inline-block;
  border-radius: 30px 30px 0px 0px;
  -o-transition:.5s;
  -ms-transition:.5s;
  -moz-transition:.5s;
  -webkit-transition:.5s;
  transition:.5s;
}

.grey:hover {
  width: 250px;
}

.col-md-center {
  text-align: center;
}
div p {
  padding: 0px 20px;
}

.lego-info p {
  font-size: 24px;
}

.mech-info {
  font-size: 24px;
}

#lego {
  font-style: italic;
  text-align: center;
  margin: 20px;
}

#mech {
  font-style: italic;
  text-align: center;
  margin: 20px;
}

#a-little-more-about-me {
  font-size: 25px;
}

#closing-statment {
  font-size: 26px;
}


img {
  width: 500px;
  height: 370px;
  border-radius: 3em;
}

li {
  list-style: none;
  margin-top: 30px;
  font-size: 23px;
}

h2 {
  text-align: center;
}

@keyframes slider {
  0% {
    padding-left: 0px;
    padding-right: 300px;
  }
  50% {
    padding-left: 300px;
    padding-right: 0px;
  }
  100% {
    padding-left: 0px;
    padding-right: 300px;
  }

}

#enter-button {
  top: -35px;
  text-align: center;
  position: relative;
  animation: slider 8s infinite ease-in-out;
}

#enter-button .btn {
  -o-transition:.5s;
  -ms-transition:.5s;
  -moz-transition:.5s;
  -webkit-transition:.5s;
  transition:.5s;
}

#enter-button .btn:hover {
  background-color: black;
}

@keyframes roller {
  0% {
    transform:rotate(0deg);
  }
  50% {
    transform:rotate(-1656deg);
  }
  100% {
    transform:rotate(0deg);
  }

}

#wheel1 {
  text-align: center;
  vertical-align: middle;
  color: white;
  left: 54%;
  top: 25px;
  position: relative;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background-color: black;
  animation: roller 8s infinite ease-in-out;
}
#wheel2 {
  text-align: center;
  vertical-align: middle;
  color: white;
  left: 42%;
  top: 5px;
  position: relative;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background-color: black;
  animation: roller 8s infinite ease-in-out;
}

#header-bar {
    margin-top: 300px;
    -webkit-animation-name: spin;
    -webkit-animation-duration: 8000ms;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    -moz-animation-name: spin;
    -moz-animation-duration: 8000ms;
    -moz-animation-iteration-count: infinite;
    -moz-animation-timing-function: linear;
    -ms-animation-name: spin;
    -ms-animation-duration: 8000ms;
    -ms-animation-iteration-count: infinite;
    -ms-animation-timing-function: linear;

    animation-name: spin;
    animation-duration: 8000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;

    h1{
    text-decoration: underline;
  }
}
@-ms-keyframes spin {
    from { -ms-transform: rotate(0deg); }
    to { -ms-transform: rotate(360deg); }
}
@-moz-keyframes spin {
    from { -moz-transform: rotate(0deg); }
    to { -moz-transform: rotate(360deg); }
}
@-webkit-keyframes spin {
    from { -webkit-transform: rotate(0deg); }
    to { -webkit-transform: rotate(360deg); }
}
@keyframes spin {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
}
